@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";




/* Overwrite the entire file with this */
:root {
  background-color: #ffffff !important;
  color: #213547 !important;
}

.primary-font {
    font-family: "Sora", sans-serif;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff !important;
  color: #213547 !important;
}
